img {
    width: 100px;
    height: 100px;

}

.div {
    border: solid 1px red;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.p {
    width: 150px;
    border: solid 1px green;

}

.span {
    display: inline-block;
    border: solid 1px blue;

}